#! /bin/sh
set -e

PID_DPC=/var/run/dpc-funtail.pid
PID_FUNTAIL=/var/run/funtail.pid

# source function library
. /etc/init.d/functions

# /etc/init.d/funtail: start and stop the Fungible "funtail" logger

export PATH="${PATH:+$PATH:}/usr/sbin:/sbin:/usr/bin"

DPCSH=/usr/bin/dpcsh
FUNTAIL=/usr/bin/funtail

if [! -e $DPCSH ]; then
    DPCSH=/opt/fungible/FunSDK/bin/Linux/dpcsh
fi
if [! -e $FUNTAIL]; then
    FUNTAIL=/opt/fungible/FunSDK/bin/Linux/funtail
fi
    
case "$1" in
  start)
	echo "Starting FunOS log streamer: funtail"
	start-stop-daemon -S -b -p $PID_DPC -x $DPCSH -- --unix_proxy
	start-stop-daemon -S -b -p $PID_FUNTAIL -x $FUNTAIL -- -u -f -s0
	echo "done."
	;;
  stop)
	echo "Stopping FunOS log streamer: funtail"
	start-stop-daemon -K -p $PID_DPC -x $DPCSH
	start-stop-daemon -K -p $PID_FUNTAIL
	echo "."
	;;
  *)
	echo "Usage: /etc/init.d/funtail {start|stop}"
	exit 1
esac

exit 0
