#!/bin/bash -e

PID_DPC=/tmp/dpc-funtail.pid
PID_FUNTAIL=/tmp/funtail.pid
DPCSH_SOCKET=/tmp/funtail_dpcsh.sock

# /etc/init.d/funtail: start and stop the Fungible "funtail" logger

export PATH="${PATH:+$PATH:}/usr/sbin:/sbin:/usr/bin"

DPCSH=/usr/bin/dpcsh
FUNTAIL=/usr/bin/funtail

if [[ ! -e $DPCSH ]]; then
    DPCSH=/opt/fungible/FunSDK/bin/Linux/dpcsh
fi
if [[ ! -e $FUNTAIL ]]; then
    FUNTAIL=/opt/fungible/FunSDK/bin/Linux/funtail
fi
    
case "$1" in
  start)
	echo "Starting FunOS log streamer: funtail"
	start-stop-daemon -S --background --make-pidfile --pidfile $PID_DPC --startas $DPCSH -- --pcie_nvme_sock=/dev/nvme0 --nvme_cmd_timeout=10000 --unix_proxy=$DPCSH_SOCKET
	start-stop-daemon -S --background --make-pidfile --pidfile $PID_FUNTAIL --startas $FUNTAIL -- -u -f -s0 -a $DPCSH_SOCKET
	echo "done."
	;;
  stop)
	echo "Stopping FunOS log streamer: funtail"
	start-stop-daemon -K -p $PID_DPC
	start-stop-daemon -K -p $PID_FUNTAIL
	echo "."
	;;
  *)
	echo "Usage: /etc/init.d/funtail {start|stop}"
	exit 1
esac

exit 0
