{# 

Standard Fungible template for source code for generated structures.

#}
// Source file created by generator.py
// Do not change this file;
// change the gen file {{gen_file}} instead.

/* For FunOS and CC-Linux. */
#include <stdint.h>
#include <stdio.h>
#include <string.h>
#include <assert.h>

#include "{{output_base}}.h"

{% for enum in enums %}
const char *{{enum.name | as_lower}}_names[] = {
      {% for i in range(0, enum.last_value + 1) %}
      "{{enum.NameForValue(i)}}",  /* {{i|as_hex}} */
      {% endfor %}
};

{% endfor %}

{% for flagset in flagsets %}
const char *{{flagset.name | as_lower }}_names[] = {
  {% for var in flagset.VariablesWithNames() %}
    "{{var.name}}", /* {{var.value | as_hex}} */
  {% endfor %}
};

{% endfor %}

{% if generate_json %}
{% for struct in structs %}

/*
 * Initializes {{struct.name}} structure from JSON representation.
 * Returns false if initialization failed.
 * Caller responsible for determining correct init function(s).
 */
bool {{struct.name}}_json_init(struct fun_json *j,
				{{struct.DeclarationString()}} *s)
{
	memset(s, 0, sizeof({{struct.DeclarationString()}}));
{% for field in struct.fields %}
 {% if field.is_reserved == false %}
  {% if field.type.IsRecord() %}
	/* Struct or Union - {{field.name}} */
  {% elif field.type.IsArray() %}
    {% if field.type.ArraySize() > 0 %}
	struct fun_json *{{field.name}}_j = fun_json_lookup(j, "{{field.name}}");
	if ({{field.name}}_j) {
		assert({{field.name}}_j->array->count <= {{field.type.ArraySize()}});
		for (int i = 0; i < {{field.name}}_j->array->count; i++) {
			s->{{field.name}}[i] = {{field.name}}_j->array->items[i]->int_value;
		}
	}
    {% endif %}
  {% else %}
    {% if field.packed_fields %}
	/* sub-field {{field.name}} */
    {% else %}
	struct fun_json *{{field.name}}_j = fun_json_lookup(j, "{{field.name}}");
	if ({{field.name}}_j) {
		s->{{field.name}} = {{field.name}}_j->int_value;
	}
    {% endif %}
  {% endif %}
 {% endif %}
{% endfor %}

	return true;
}

{% endfor %}
{% endif %}
