<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard.css">
    <title>Log Analyzer Dashboard: {{log_id}}</title>
</head>
<body>
    {% include 'templates/nav_bar.html' ignore missing %}
    <div>
        <h3>Source wise log distribution</h3>
        <!-- Calculating total log entries -->
        {% set totalEntries = sources.values()|sum() %}
        <div>Total log entries: <b>{{totalEntries}}</b></div>
        <div class="sources">
            <!-- Displaying log entries (along with the name of source) in % with rounded off to 2 decimals -->
            {% for source in sources %}
                <div class="source">{{source}} ({{((sources[source]/totalEntries)*100)|round(2)}}% entries)</div>
                <div class="separator"></div>
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <h3>Most duplicated logs</h3>
        <div class="log_entries">
            {% include 'analytics/'+log_id+'/duplicates.html' ignore missing %}
        </div>
    </div>
</body>
</html>