<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="stylesheet" type="text/css" href="/static/css/root.css">
    <title>Log Analyzer Tool</title>
</head>
<body>
    {% include 'templates/nav_bar.html' ignore missing %}
    <h3>Available logs</h3>
    <table class="index">
        <thead>
            <tr>
                <th>Name</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
        {% for log in logs %}
            <tr>
                <td>{{log.name}}</td>
                <td><a href={{log.link}}>Default</a></td>
                <td><a href="/log/{{log.name}}">Simple</a></td>
                <td><a href="/log/{{log.name}}/analytics">Analytics</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>
