<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/fun.css">
    <style>
    </style>
    <title>Log list</title>
</head>
<body>
    <h2>Available logs</h2>
    <table class="index">
        <thead>
            <tr>
                <th>Name</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
        {% for log in logs %}
            <tr>
                <td>{{log.name}}</td>
                <td><a href={{log.link}}>Default</a></td>
                <td><a href="/log/{{log.name}}">Simple</a></td>
                <td><a href="/log/{{log.name}}/analytics">Analytics</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>
