<html>
    <head>
        <title>Log Analyzer: Ingester</title>
        <!-- Datepicker dependencies -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

        <!-- Dropzone uploader dependencies -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/basic.min.css"/>

        <link rel="stylesheet" type="text/css" href="/static/css/index.css">
        <link rel="stylesheet" type="text/css" href="/static/css/ingester.css">
        <script type="text/javascript" src="/static/js/fetchWrapper.js"></script>
    </head>
    <body>
        {% include "nav_bar.html" ignore missing %}
        <div class="center-align">
            <div class="container row">
                <div style="width: 100%; min-width: 60%;">
                    <form action="/ingest" onsubmit="return onSubmit(this)" method="POST">
                        <h3 class="form-group">
                            <label>Ingest logs from</label>
                            <label>
                                <input
                                    type="radio"
                                    name="ingest_type"
                                    value="qa"
                                    {{"checked" if ingest_type == "qa" else ""}}
                                    onchange="onChangeIngestType(this)"
                                />
                                QA
                            </label>
                            <label>
                                <input
                                    type="radio"
                                    name="ingest_type"
                                    value="techsupport"
                                    {{"checked" if ingest_type == "techsupport" else ""}}
                                    onchange="onChangeIngestType(this)"
                                />
                                Techsupport archive
                            </label>
                        </h3>
                        {% if ingest_type == "qa" %}
                            <div class="form-group">
                                <label>QA Job ID</label>
                                <input type="text" id="job_id" name="job_id" placeholder="Enter the JOB ID" value="{{feedback.job_id if feedback else null}}" required>
                            </div>
                            <div class="form-group">
                                <label>QA Test Index (Default is 0)</label>
                                <input type="text" id="test_index" name="test_index" placeholder="Enter the Test Index" value="{{feedback.test_index if feedback else 0}}">
                            </div>
                        {% elif ingest_type == "techsupport" %}
                            <div class="form-group">
                                <label>
                                    Job ID
                                    <div style="font-size: 10px;">(only lowercase characters & numbers allowed)</div>
                                </label>
                                <input type="text" id="job_id" name="job_id" placeholder="Enter the JOB ID" value="{{feedback.job_id if feedback else null}}" required>
                            </div>
                            <div class="form-group">
                                <label>Techsupport archive from</label>
                                <label>
                                    <input
                                        type="radio"
                                        name="techsupport_ingest_type"
                                        value="mount_path"
                                        {{"checked" if techsupport_ingest_type is not defined or techsupport_ingest_type == "mount_path" else ""}}
                                        onchange="onChangeTechsupportIngestType(this.value)"
                                    />
                                    Mounted NFS
                                </label>
                                <label>
                                    <input
                                        type="radio"
                                        name="techsupport_ingest_type"
                                        value="upload"
                                        {{"checked" if techsupport_ingest_type == "upload" else ""}}
                                        onchange="onChangeTechsupportIngestType(this.value)"
                                    />
                                    Local Upload
                                </label>
                            </div>
                            <div id="techsupport_ingest_type">
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <label>Enter tags (comma separated)</label>
                            <input type="text" id="tags" name="tags" class="medium-input" placeholder="Enter tags" value="{{feedback.tags if feedback else null}}">
                        </div>
                        <hr />
                        <h3>Ingestion Filters</h3>
                        <div class="form-group" style="flex-direction: column;">
                            <h4>By Time range (in local timezone)<span class="info">Ingests all logs if no timeframe is provided</span></h4>
                            <div class="form-group">
                                <div style="margin-right: 10px;">
                                    <label>Start time</label>
                                    <div class="input-group date" id="start_time_picker">
                                        <input type="text" id="start_time" name="start_time" class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    <div id="start_time_str" style="min-height: 20px; margin-top: 10px;"></div>
                                </div>
                                <div>
                                    <label>End time</label>
                                    <div class="input-group date" id="end_time_picker">
                                        <input type="text" id="end_time" name="end_time" class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    <div id="end_time_str" style="min-height: 20px; margin-top: 10px;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="flex-direction: column;">
                            <h4>By Source<span class="info">Ingests all logs if nothing selected</span></h4>
                            <div>
                                <label>DPU:</label>
                                <label class="source-title">
                                    <input type="checkbox" name="sources" id="funos" value="funos">FunOS
                                </label>
                                <label class="source-title">
                                    <input type="checkbox" name="sources" id="storage_agent" value="storage_agent">Storage Agent
                                </label>
                                <label class="source-title">
                                    <input type="checkbox" name="sources" id="platform_agent" value="platform_agent">Platform Agent
                                </label>
                            </div>
                            <div>
                                <label>Storage services:</label>
                                <label class="source-title">
                                    <input type="checkbox" name="sources" id="apigateway" value="apigateway">Apigateway
                                </label>
                                <label class="source-title">
                                    <input type="checkbox" name="sources" id="dataplacement" value="dataplacement">Dataplacement
                                </label>
                                <label class="source-title">
                                    <input type="checkbox" name="sources" id="discovery" value="discovery">Discovery
                                </label>
                                <label class="source-title">
                                    <input type="checkbox" name="sources" id="kafka" value="kafka">Kafka
                                </label>
                                <label class="source-title">
                                    <input type="checkbox" name="sources" id="metrics_manager" value="metrics_manager">Metrics Manager
                                </label>
                                <label class="source-title">
                                    <input type="checkbox" name="sources" id="metrics_server" value="metrics_server">Metrics Server
                                </label>
                                <label class="source-title">
                                    <input type="checkbox" name="sources" id="scmscv" value="scmscv">SCMSCV
                                </label>
                                <label class="source-title">
                                    <input type="checkbox" name="sources" id="setup_db" value="setup_db">Setup DB
                                </label>
                                <label class="source-title">
                                    <input type="checkbox" name="sources" id="sns" value="sns">SNS
                                </label>
                                <label class="source-title">
                                    <input type="checkbox" name="sources" id="expansion_rebalance" value="expansion_rebalance">Expansion Rebalance
                                </label>
                                <label class="source-title">
                                    <input type="checkbox" name="sources" id="pfm" value="pfm">PFM
                                </label>
                                <label class="source-title">
                                    <input type="checkbox" name="sources" id="node-service" value="node-service">NMS
                                </label>
                                <label class="source-title">
                                    <input type="checkbox" name="sources" id="telemetry-service" value="telemetry-service">TMS
                                </label>
                            </div>
                        </div>
                        <hr />
                        <button type="submit" class="btn btn-primary">Ingest</button>
                    </form>
                </div>
                <div class="separator"></div>
                <div id="status-container">
                    {% if feedback %}
                        {% if feedback.started %}
                            <button class="btn btn-primary" onclick="checkStatus()">Check Status</button>
                        {% elif not feedback.success %}
                            <p class="text-danger float-right">ERROR: {{ feedback.msg }}</p>
                        {% endif %}
                    {% endif %}
                    <div id="status"></div>
                    <div id="feedback"></div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.js"></script>
    <script type="text/javascript">
        let ingestType = "{{ingest_type}}", techsupportIngestType = "{{techsupport_ingest_type}}";

        // Dropzone.js object to track the uploading of files.
        let dropzone = null;
        Dropzone.autoDiscover = false;
        $(function () {
            $("#start_time_picker").datetimepicker({
                sideBySide: true
            });
            $("#end_time_picker").datetimepicker({
                sideBySide: true
            });
            $("#start_time_picker").on("dp.change", onChangeTimeFilter);
            $("#end_time_picker").on("dp.change", onChangeTimeFilter);
            if (ingestType === "techsupport") {
                onChangeTechsupportIngestType(techsupportIngestType);
            }
        });

        // Avoid resubmitting POST from form on refresh or page navigation
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }

        const feedback = {{feedback|tojson}};
        const statusContainer = document.getElementById("status-container");
        const statusElement = document.getElementById("status");
        const feedbackElement = document.getElementById("feedback");
        const techsupportIngestTypeElement = document.getElementById("techsupport_ingest_type");

        function onChangeTechsupportIngestType(ingestType) {
            let params = new URLSearchParams();
            params.set("ingest_type", "techsupport");
            if (ingestType) params.set("techsupport_ingest_type", ingestType);
            window.history.replaceState(null, null, `?${params.toString()}`);

            techsupportIngestType = ingestType;

            if (ingestType === "upload") {
                techsupportIngestTypeElement.innerHTML = `
                    <div class="form-group">
                        <div class="dropzone" id="uploader"></div>
                        <input type="text" id="filename" name="filename" hidden />
                    </div>
                `;
                initializeDropzone();
            }
            else {
                techsupportIngestTypeElement.innerHTML = `
                    <div class="form-group">
                        <label>Log Archive mounted volume path</label>
                        <input type="text" id="mount_path" name="mount_path" class="large-input" placeholder="/project/users/bugbits" value="{{feedback.mount_path if feedback else null}}" required>
                    </div>
                `;
            }
        }

        function initializeDropzone() {
            dropzone = new Dropzone("div#uploader", {
                url: 'upload',
                paramName: 'file',
                dictDefaultMessage: 'Drop log archive here or click to upload',
                chunking: true,
                retryChunks: true,
                forceChunking: true,
                autoQueue: false,
                autoProcessQueue: false,
                processingmultiple: false,
                uploadMultiple: false,
                maxFilesize: 1024 * 10, // 10GB
                maxFiles: 1,
                addRemoveLinks: true,
                chunkSize: 1000000 // (in bytes) => 1MB
            });

            dropzone.on("addedfile", file => {
                const job_id = document.getElementById("job_id").value;
                // job_id is a necessary field.
                if (job_id === undefined || job_id === "") {
                    alert("Job ID missing");
                    dropzone.removeFile(file);
                    return;
                }
                dropzone.processFile(file);
            });

            dropzone.on("sending", (file, xhr, formData) => {
                const job_id = document.getElementById("job_id").value;
                // Also send the job_id along with the uploaded file.
                formData.append("job_id", job_id);
            });

            dropzone.on("error", (file, error) => {
                alert(`UPLOAD FAILED: ${error}`);
            });

            // Delete the uploaded files on the server
            dropzone.on("removedfile", (file) => {
                const job_id = document.getElementById("job_id").value;
                if (job_id) {
                    const params = new URLSearchParams();
                    params.set("job_id", job_id);
                    params.set("filename", file.name);
                    const url = `remove_file?${params.toString()}`;
                    fetchWrapper.delete(url)
                        .catch(error => {
                            alert(`Error deleting the uploaded file: ${error}`);
                        });
                }
            });
        }

        // Time is in milliseconds
        const WAIT_TIME_TO_CHECK_STATUS = 30 * 1000;

        let logID = '', statusInterval = null;
        if (feedback && Object.keys(feedback).length !== 0 && feedback.constructor === Object) {
            logID = feedback["log_id"];

            if (feedback.started) {
                statusContainer.style = "width: 40%;";
                if (feedback.success) {
                    handleStatusUpdate(feedback.metadata);
                }
                else {
                    statusElement.innerHTML = "<p>Ingesting.. Please wait.</p>";
                    statusInterval = setInterval(checkStatus, WAIT_TIME_TO_CHECK_STATUS);
                }
            }

            const dateFormatter = new Intl.DateTimeFormat('en-US', {
                'dateStyle': 'short',
                'timeStyle': 'short'
            });
            if (feedback.start_time) {
                const date = new Date(parseInt(feedback.start_time)*1000);
                document.getElementById("start_time").value = dateFormatter.format(date);
            }
            if (feedback.end_time) {
                const date = new Date(parseInt(feedback.end_time)*1000);
                document.getElementById("end_time").value = dateFormatter.format(date);
            }
            if (feedback.sources && feedback.sources.length > 0) {
                for (source of feedback.sources) {
                    const element = document.getElementById(source);
                    if (element) element.checked = true;
                }
            }
        }

        function onChangeIngestType(event) {
            const value = event.value;
            if (value) {
                let params = new URLSearchParams();
                params.set("ingest_type", value);
                window.location.href = `?${params.toString()}`;
            }
        }

        function onChangeTimeFilter(event) {
            const dateStr = event.date.toISOString();
            if (event.target.id === "start_time_picker") {
                document.getElementById("start_time_str").innerHTML = `UTC Time: ${dateStr}`;
            }
            if (event.target.id === "end_time_picker") {
                document.getElementById("end_time_str").innerHTML = `UTC Time: ${dateStr}`;
            }
        }

        function onSubmit(event) {
            const job_id = event.elements["job_id"].value;
            const start_time_str = event.elements["start_time"].value;
            const end_time_str = event.elements["end_time"].value;

            if (job_id == undefined || job_id === "") {
                alert("Job ID is missing");
                return false;
            }

            if (start_time_str) {
                const start_time = new Date(start_time_str);
                event.elements["start_time"].value = Math.floor(start_time.getTime()/1000);
            }

            if (end_time_str) {
                const end_time = new Date(end_time_str);
                event.elements["end_time"].value = Math.ceil(end_time.getTime()/1000);
            }

            if (ingestType === "techsupport") {
                if (techsupportIngestType === "upload" && dropzone) {
                    const files = dropzone.files;
                    if (files.length === 0 || files[0].status == "error") {
                        alert("Please upload an archive");
                        return false;
                    }
                    const file = files[0];
                    if (file.status == "uploading") {
                        alert("Please wait for the archive to be uploaded.")
                        return false;
                    }
                    event.elements["filename"].value = file.name;
                }
                else {
                    if (event.elements["mount_path"].value == "") {
                        alert("Please enter the mount path.");
                        return false;
                    }
                }
            }
            else if (ingestType === 'qa') {
                let test_index = event.elements["test_index"].value;
                test_index = test_index === '' ? 0 : parseInt(test_index);
                if (isNaN(test_index)) {
                    alert("Test index should be a number.");
                    return false;
                }
                event.elements["test_index"].value = test_index;
            }

            statusElement.innerHTML = "<p>Ingesting.. Please wait.</p>";
            feedbackElement.innerHTML = "";
            return true;
        }

        function checkStatus() {
            const uri = `${window.location.origin}${window.location.pathname}/${logID}/status`;
            fetchWrapper.get(uri)
                .then(data => {
                    if ("ingestion_status" in data) {
                        handleStatusUpdate(data);
                    }
                })
                .catch(error => alert("Could not get the ingestion status"))
        }

        function handleStatusUpdate(metadata) {
            const status = "ingestion_status" in metadata ? metadata["ingestion_status"] : "STARTING";
            let statusImg = "";
            if (metadata.ingestion_status) {
                if (metadata.ingestion_status == "INGESTION_IN_PROGRESS")
                    statusImg = `<img title="Ingestion is in progress" class="status-img" src="/static/images/pacman.svg" />`;
                else if (metadata.ingestion_status == "FAILED")
                    statusImg = `<img title="Ingestion failed" class="status-img" src="/static/images/fail.png" />`;
            }

            statusElement.innerHTML = `
                <p>Status: ${statusImg} ${status}</p>
                <p>Last checked: ${new Date()}</p>
            `;
            if (status == "COMPLETED") {
                const logID = metadata["logID"];
                const dashboardLink = `${window.location.origin}/log/${logID}/dashboard`;
                const downloadTime = "download_time" in metadata ? +metadata["download_time"].toFixed(2) : "Unknown";
                const ingestionTime = "ingestion_time" in metadata ? +metadata["ingestion_time"].toFixed(2) : "Unknown";
                feedbackElement.innerHTML = `
                    <p>SUCCESS! <a href="${dashboardLink}">Click to explore the logs</a></p>
                    <p>Time taken to download log archive: ${downloadTime}s</p>
                    <p>Time taken to ingest: ${ingestionTime}s</p>
                `;
                clearInterval(statusInterval);
            }
            else if ("download_time" in metadata &&
                (status == "DOWNLOAD_COMPLETED" || status == "INGESTION_IN_PROGRESS")
            ) {
                const downloadTime = +metadata["download_time"].toFixed(2);
                feedbackElement.innerHTML = `
                    <p>Time taken to download log archive: ${downloadTime}s</p>
                `;
            }
            else if (status == "FAILED") {
                feedbackElement.innerHTML = `
                    <p class="text-danger float-right">ERROR: ${metadata["ingestion_error"]}</p>
                `;
                clearInterval(statusInterval);
            }
        }

    </script>
</html>