<html>
    <head>
        <title>Log Analyzer: Ingester</title>
        <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    </head>
    <body>
        {% include "nav_bar.html" ignore missing %}
        <div class="center-align">
            <h3>Ingest logs from QA dashboard</h3>
            <div class="container">
                <form action="/ingest" method="POST">
                    <div class="form-group">
                        <label>QA Job ID</label>
                        <input type="text" class="form-control" id="job_id" name="job_id" placeholder="Enter the JOB ID" value="{{feedback.job_id if feedback else null}}">
                    </div>
                    <div class="form-group">
                        <label>QA Test Index (Default is 0)</label>
                        <input type="text" class="form-control" id="test_index" name="test_index" placeholder="Enter the Test Index" value="{{feedback.test_index if feedback else 0}}">
                    </div>
                    <div class="form-group">
                        <label>Enter tags (comma separated)</label>
                        <input type="text" class="form-control" id="tags" name="tags" placeholder="Enter tags" value="{{feedback.tags if feedback else null}}">
                    </div>
                    <button type="submit" class="btn btn-primary" onclick="onSubmit()">Ingest</button>
                </form>
                <div id="status"></div>
                <div id="feedback">
                    {% if feedback %}
                        {% if feedback.success %}
                            <p>SUCCESS! <a href="{{feedback.dashboard_link}}">Click to explore the logs</a></p>
                            <p>Ingested Test index {{feedback.test_index}} of the QA JOB {{feedback.job_id}}</p>
                            <p>Time taken: {{feedback.time_taken|round(2)}}s</p>
                        {% else %}
                            <p class="text-danger float-right">ERROR: {{ feedback.msg }}</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript">

        // Avoid resubmitting POST from form on refresh or page navigation
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }

        const feedback = "{{feedback}}";
        const statusElement = document.getElementById("status");
        const feedbackElement = document.getElementById("feedback");

        if (feedback !== "") {
            statusElement.innerHTML = "";
        }

        function onSubmit() {
            statusElement.innerHTML = "Ingesting.. Please wait.";
            feedbackElement.innerHTML = "";
            return;
        }
    </script>
</html>