<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="stylesheet" type="text/css" href="/static/css/logs.css">
    <script type="text/javascript" src="/static/js/tracker.js"></script>
    <script>
    // Web tracker uses logId
    const logId = "{{log_id}}";
    /*
     * If you're reading this, Fungible is interested in talking to you
     * because you have skills that we might want. 
     *
     * But if you're reading this, you're already an esteemed colleague so
     * never mind.... 
     */

    /*
     * Client state.
     *
     * The state is opaque to the client. The before and after page markers
     * are hidden in a state object, and the post requests say
     * "next" or "prev" while sending the state object. This allows easier
     * changes if we decide to change our storage/search layer.
     *
     * The internal "before" and "after" variables hold the sort values of
     * the first and last document on the page. These sort values are
     * determined by elasticsearch, and are single integers at the moment
     * because we only sort by timestamp.
     */
    var state = {{state}};

    /*
     * Current message text filter.
     *
     * Value is used as a filter of message contents.
     */
    var textFilter = "";

    /*
     * Holds current time filters.
     */
    var startTime = "";
    var endTime = "";
    var prev_button, next_button;
    let search_results_container, search_results_body;
    let search_box, clear_search_box, search_page_info;
    // Toggle to show/hide search results box
    let showSearchResultsTable = true;

    const LOG_VIEW_BASE_URL = "{{log_view_base_url}}";

    /*
        Maintians the state of the search request.
        Contains the following fields:
        query: search query
        next: true to search next page and false for searching prev page
        state: ES state of search results
        results: list of search results
        total_search_results: object containing total count of results
    */
    let searchPayload = {{search_results}};
    searchPayload = searchPayload ? searchPayload : {};

    window.onload = function() {
        log_table = document.getElementById("line_table");
        prev_button = document.getElementById("prev_button");
        next_button = document.getElementById("next_button");
        search_box = document.getElementById("search");
        clear_search_box = document.getElementById("clear_search_results");
        search_results_container = document.getElementById("search_results");
        search_results_body = document.getElementById("search_table_body");
        search_page_info = document.getElementById("search_page_info")
        search_prev_button = document.getElementById("search_prev_button");;
        search_next_button = document.getElementById("search_next_button");;

        // Disable the Previous logs button if there are
        // no more logs to display
        if (state.before === -1) {
            toggleElementDisplay(prev_button, false);
        }

        // Top button element
        const top_button = document.getElementById("top_button");
        // When the user scrolls down 50px from the top of the document, show the button
        window.onscroll = () => {
            if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
                top_button.style.display = "block";
            } else {
                top_button.style.display = "none";
            }
        }

        // Check if an anchor link is present
        const anchor_link = document.getElementById("anchor_link");
        if (location.hash === "#0") {
            anchor_link.style.display = "block";
        }

        // Check if time is present in the url
        const dt_start = document.getElementById("dt_start");
        const dt_end = document.getElementById("dt_end");
        const queryParams = new URLSearchParams(location.search.substring(1));
        if (queryParams.get('filter')) {
            const filters = JSON.parse(queryParams.get('filter'));
            const timeFilter = filters['time'];
            if (timeFilter && timeFilter.length === 2) {
                startTime = timeFilter[0];
                endTime = timeFilter[1];
                // Setting values of date picker
                dt_start.value = startTime;
                dt_end.value = endTime;
            }
        }

        if (queryParams.get("search")) {
            const query = decodeURIComponent(searchPayload["query"]);
            search_box.value = query;
            updateSearchResults(searchPayload);
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function onClickTopButton() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }

    function handleMessageFilter(element) {
        textFilter = element.value;
    }

    function handleMessageTableFilterUpdates() {
        toggleLoader(true);
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var data = JSON.parse(xhttp.responseText);
                if (data) {
                    clearMessageTable();
                    updateMessageTable(data, true);

                    state = data["state"];
                }
                toggleLoader(false);
            }
        }

        var uri = "/log/{{log_id}}/content";

        var filterString = buildFilterOption();
        if (filterString === null) {
            toggleLoader(false);
            return;
        }
        if (filterString != "") {
            uri += "?filter=" + filterString;
        }

        xhttp.open('POST', uri);
        xhttp.send();
    }

    function clearMessageTable() {
        log_table.innerHTML = "";
    }

    function updateMessageTable(filterData, isAppend) {
        if (isAppend) {
            log_table.innerHTML = log_table.innerHTML + filterData["content"];
        } else {
            log_table.innerHTML = filterData["content"] + log_table.innerHTML;
        }
        // Conditionally rendering pagination buttons
        var showPrevButton = filterData["state"].before != -1;
        var showNextButton = filterData["state"].after != -1;
        toggleElementDisplay(prev_button, showPrevButton);
        toggleElementDisplay(next_button, showNextButton);
    }

    function handleTimeFilters(element, type="start") {
        if (type === "start") {
            startTime = element.value;
        }
        else {
            endTime = element.value;
        }
    }

    function loadNext() {
        toggleLoader(true);
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var data = JSON.parse(xhttp.responseText);
                if (data) {
                    updateMessageTable(data, true);
                    state = data["state"];
                }
                toggleLoader(false);
            }
        }

        var uri = buildContentRequest("next");
        if (uri === null) {
            toggleLoader(false);
            return;
        }
        xhttp.open('POST', uri);
        xhttp.send();
    }

    // Generic function to toggle any HTML element's display property
    function toggleElementDisplay(element, flag) {
        if (flag) {
            element.style = "display: block";
        }
        else {
            element.style = "display: none";
        }
    }

    /*
     * Constructs a POST request to fetch more content.
     *
     * direction is either "next" to fetch content after the last message
     * on the page, or "prev" to fetch content before the first message.
     */
    function buildContentRequest(direction) {
        var uri = "/log/{{log_id}}/content?" + direction + "=true&state=" + JSON.stringify(state);

        var filterString = buildFilterOption();

        if (filterString === null) {
            return null;
        }
        if (filterString != "") {
            uri += "&filter=" + filterString;
        }

        return uri;
    }

    /*
     * Constructs a filter string, for use in a request,
     * from current filter values.
     */
    function buildFilterOption() {
        let allFilters = {};
        allFilters["sources"] = getSelectedSources();

        if (Object.keys(allFilters["sources"]).length === 0) {
            return null;
        }

        if (textFilter != "") {
            allFilters["text"] = `(${textFilter})`;
        }

        datetimeFilters = [startTime, endTime];
        allFilters["time"] = datetimeFilters;

        return JSON.stringify(allFilters);
    }

    /*
        Constructs a search string, for use in a request,
        from search query and search state.
    */
    function buildSearchOption(searchPayload) {
        if (searchPayload == null || (Object.keys(searchPayload).length === 0 && searchPayload.constructor === Object) || search_box.value === "") {
            return null;
        }
        return JSON.stringify({
            "query": encodeURIComponent(search_box.value),
            "page": searchPayload["page"],
            "state": JSON.stringify(searchPayload["state"]),
            "next": "next" in searchPayload ? searchPayload["next"] : true
        });
    }

    function loadPrev() {
        toggleLoader(true);
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var data = JSON.parse(xhttp.responseText);
                if (data) {
                    updateMessageTable(data, false);
                    state = data["state"];
                }
                toggleLoader(false);
            }
        }

        var uri = buildContentRequest("prev");
        if (uri === null) {
            toggleLoader(false);
            return;
        }
        xhttp.open('POST', uri);
        xhttp.send();
    }

    function onClickFilterLogs() {
        const filterString = buildFilterOption();
        resetSearchState();
        const searchString = buildSearchOption(searchPayload);
        // Filters not selected
        if (filterString === null) {
            return;
        }

        let params = new URLSearchParams(location.search);
        if (filterString != "") {
            params.set('filter', filterString);
        }
        if (searchString != null && searchString != "") {
            params.set("search", searchString);
        }
        params.delete("include");

        const search_url = `${LOG_VIEW_BASE_URL}?${params.toString()}`;
        window.open(search_url, "_self");
        trackWebEvent("FILTER_LOGS");
    }

    function handleSearch() {
        const searchText = search_box.value;
        if (!searchText || searchText === "") {
            alert("Search box is empty");
            return;
        }

        toggleLoader(true);

        // Updating the search term on searchPayload
        searchPayload["query"] = searchText;

        // Storing the prev state of search results in the
        // url so that on refresh we get the same results.
        const prevSearchState = searchPayload["state"];

        const filterString = buildFilterOption();
        const searchString = buildSearchOption(searchPayload);

        // Filters not selected
        if (filterString === null) {
            return;
        }

        let params = new URLSearchParams(location.search);
        if (filterString != "") {
            params.set("filter", filterString);
        }
        if (searchString != "") {
            params.set("search", searchString);
        }

        const search_url = `${LOG_VIEW_BASE_URL}/search?${params.toString()}${location.hash}`;

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var data = JSON.parse(xhttp.responseText);
                if (data) {
                    searchPayload = data;
                    updateSearchResults(data);
                    const searchString = buildSearchOption({
                        ...searchPayload,
                        "state": prevSearchState
                    });
                    params.set("search", searchString);
                    window.history.pushState(null, null, `?${params.toString()}#0`);
                }
                toggleLoader(false);
            }
        }

        xhttp.open("GET", search_url);
        xhttp.send();

        trackWebEvent("SEARCH_CLICKED", { "payload": searchPayload });
    }

    function updateSearchResults(searchPayload) {
        toggleElementDisplay(search_results_container.parentElement, true);
        clear_search_box.style.display = "inline-block";
        const results = searchPayload.results.map(result => {
            const source = result["_source"];
            const timestamp = source["@timestamp"];

            return `
                <tr style="vertical-align: baseline" onclick="onClickSearchResult('${result["_id"]}', '${timestamp}')">
                    <td>${source["src"]}</td>
                    <td>${source["system_id"]}</td>
                    <td>${timestamp}</td>
                    <td>${source["level"]}</td>
                    <td class="search_result">${source["msg"]}</td>
                </tr>`;
        });
        search_results_body.innerHTML = results.join("\n");

        const currentPage = searchPayload["page"];
        const totalSearchResults = searchPayload["total_search_hits"]["value"];
        const maxPages = Math.ceil(totalSearchResults/searchPayload["size"]);
        let maxPagesStr = maxPages;
        let resultCountStr = totalSearchResults;
        if (searchPayload["total_search_hits"]["relation"] === "gte") {
            resultCountStr += "+";
            maxPagesStr += "+";
        }

        search_page_info.innerHTML = `Page ${currentPage} out of ${maxPagesStr} (${resultCountStr} results)`;

        // Conditionally rendering pagination buttons
        const searchBefore = searchPayload["state"] && "before" in searchPayload["state"] ? searchPayload["state"].before : -1;
        const showNextButton = currentPage < maxPages;
        const showPrevButton = searchBefore != -1 && currentPage > 1;
        search_next_button.firstElementChild.disabled = !showNextButton;
        search_prev_button.firstElementChild.disabled = !showPrevButton;
    }

    /*
        Getting logs surrounding to the clicked search result
        and displaying them on the log_table.
    */
    function onClickSearchResult(docId, timestamp) {
        const current_state = {
            "before": timestamp,
            "after": timestamp
        };
        let uri = `/log/{{log_id}}/content?next=true&prev=true&state=${JSON.stringify(current_state)}&include=${docId}`;
        const filterString = buildFilterOption();

        if (filterString === null) {
            return null;
        }
        if (filterString != "") {
            uri += "&filter=" + filterString;
        }

        toggleLoader(true);
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                const data = JSON.parse(xhttp.responseText);
                if (data) {
                    clearMessageTable();
                    updateMessageTable(data, true);
                    document.getElementById("0").scrollIntoView();
                    state = data["state"];

                    let params = new URLSearchParams(location.search);
                    params.set("state", JSON.stringify(current_state));
                    params.set("next", true);
                    params.set("prev", true);
                    params.set("include", docId);

                    window.history.pushState(null, null, `?${params.toString()}#0`);
                }
                toggleLoader(false);
            }
        }

        xhttp.open('POST', uri);
        xhttp.send();
    }

    function onPaginateSearchResults(next=true) {
        const currentPage = searchPayload["page"];
        const updatedPage = next ? currentPage+1 : currentPage-1;
        searchPayload["page"] = updatedPage;
        searchPayload["next"] = next;

        handleSearch();
    }

    function toggleClosingSearchResultsTable(element) {
        showSearchResultsTable = !showSearchResultsTable;
        toggleElementDisplay(search_results_container, showSearchResultsTable);

        const arrowElement = element.firstElementChild;
        if (showSearchResultsTable) {
            arrowElement.firstElementChild.classList.remove("down");
            arrowElement.firstElementChild.classList.add("up");
        }
        else {
            arrowElement.firstElementChild.classList.remove("up");
            arrowElement.firstElementChild.classList.add("down");
        }
    }

    function onSubmitSearch() {
        resetSearchState();
        handleSearch();
    }

    function onKeyDownSearchText(event) {
        // Enter clicked
        if (event.keyCode === 13) {
            onSubmitSearch();
        }
    }

    function resetSearchState() {
        if (!searchPayload) searchPayload = {};

        searchPayload["page"] = 1;
        searchPayload["next"] = true;
        delete searchPayload["state"];
    }

    function clearSearchResults() {
        resetSearchState();
        search_box.value = "";
        search_results_body.innerHTML = "";

        toggleElementDisplay(search_results_container.parentElement, false);
        clear_search_box.style.display = "none";

        let params = new URLSearchParams(location.search);
        params.delete("search");

        window.history.pushState(null, null, `?${params.toString()}${location.hash}`);
    }

    </script>
</head>
<body>
    {% include 'nav_bar.html' ignore missing %}
    <!-- Calculating total log entries -->
    {% set total_entries = sources.values()|sum() %}
    <div class="content">
        <h2 id="top" class="center-align">Logs from
            {% if job_link is not none %}
                <a target="_blank" data-web_event="JOB_LINK_CLICKED" href="{{job_link}}">{{log_id}}</a>
            {% else %}
                {{log_id}}
            {% endif %}
        </h2>
        {% if metadata.tags is defined and metadata.tags is not none %}
            <div class="center-align">Tags:
                {% for tag in metadata.tags %}
                    <a href="/?tags={{tag}}">{{tag}}</a>
                {% endfor %}
            </div>
        {% endif %}
        <div id="quicklinks">
            <a id="anchor_link" data-web_event="ANCHOR_LINK" style="display: none;" href="#0">Link to the selected log</a>
            <button class="btn" onclick="toggleNotesOverlay()">
                Add/Show notes({{ metadata.notes|length }})
            </button>
        </div>
        <div class="container">
            <h3>Apply Filters</h3>
            <div>Total log entries: <b>{{total_entries}}</b></div>
            <div class="filters_container" style="display: flex;">
                {% include 'source_filters.html' %}
                <div style="display: flex; flex-direction: column;">
                    <div class="separator"></div>
                </div>
                <div class="filters">
                    <b>Search by time range</b>
                    <div>
                        <div class="time_filters">
                            <label for="dt_start">Start time</label>
                            <input type="text" id="dt_start" placeholder="yyyy-mm-ddTHH:MM:SS.ss" onchange="handleTimeFilters(this, 'start')"/>
                        </div>

                        <div class="time_filters">
                            <label for="dt_end">End time</label>
                            <input type="text" id="dt_end" placeholder="yyyy-mm-ddTHH:MM:SS.ss" onchange="handleTimeFilters(this, 'end')"/>
                        </div>
                    </div>
                    <div class="info">Timestamp can be copied from log line</div>
                </div>
            </div>
            <div id="explore_button">
                <button class="btn" onclick="onClickFilterLogs()">Filter logs</button>
            </div>
        </div>
        <div class="container">
            <h3>Perform Search</h3>
            <div class="filters_container">
                <div>
                    <input id="search" type="search" placeholder="Search..." onkeydown="onKeyDownSearchText(event)" />
                    <button class="btn" onclick="onSubmitSearch();">Search</button>
                    <button style="display: none;" id="clear_search_results" class="btn btn-warning" onclick="clearSearchResults();">Clear Results</button>
                </div>
                <span class="info">Enclose the search string with quotes if it contains special characters.</span>
            </div>
            <div style="display: none;">
                <h3 style="display: flex; cursor: pointer;" onclick="toggleClosingSearchResultsTable(this)">Search results
                    <div id="arrow" style="padding: 0px 5px;">
                        <span class="arrow up"></span>
                    </div>
                </h3>
                <div id="search_results">
                    <table class="log_entries">
                        <thead>
                            <tr>
                                <th>Source</th>
                                <th>System ID</th>
                                <th>Timestamp</th>
                                <th>Level</th>
                                <th>Log message</th>
                            </tr>
                        </thead>
                        <tbody id="search_table_body">
                        </tbody>
                    </table>
                    <div style="display: flex; justify-content: space-evenly; padding: 10px;">
                        <div class="pagination_button" id="search_prev_button">
                            <button class="btn" data-web_event="PREVIOUS_SEARCH" onclick="onPaginateSearchResults(false)">Previous</button>
                        </div>
                        <div id="search_page_info"></div>
                        <div class="pagination_button" id="search_next_button">
                            <button class="btn" data-web_event="NEXT_SEARCH" onclick="onPaginateSearchResults()">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h3>View Logs</h3>
            <div class="content">
                {% if total_search_hits.relation == "gte" %}
                    {% set total_hits = total_search_hits.value|string+'+' %}
                {% else %}
                    {% set total_hits = total_search_hits.value %}
                {% endif %}
                <b>{{total_hits}} results</b> sorted from earliest to latest timestamp
            </div>
            <div class="pagination" id="prev_button">
                <button class="btn" data-web_event="PREVIOUS_LOGS" onclick="loadPrev()">Load previous logs</button>
            </div>
            <table class="log_entries">
                <thead>
                    <tr>
                        <th>Source</th>
                        <th>System ID</th>
                        <th>Timestamp</th>
                        <th>Level</th>
                        <th>Log message</th>
                    </tr>
                </thead>
                <tbody id="line_table">
                    {{body}}
                </tbody>
            </table>
            <div class="pagination" id="next_button">
                <button class="btn" data-web_event="NEXT_LOGS" onclick="loadNext()">Load next logs</button>
            </div>
        </div>
    </div>
    <button onclick="onClickTopButton()" data-web_event="TOP_BUTTON" id="top_button" title="Go to top">Jump to top</button>
    {% include 'loader.html' %}
    {% include 'notes_overlay.html' %}
</body>
</html>
