<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="stylesheet" type="text/css" href="/static/css/root.css">
    <title>Log Analyzer Tool</title>
</head>
<body>
    {% include 'nav_bar.html' ignore missing %}
    <div class="content">
        <a href="/ingest?ingest_type=qa">Click here to ingest logs from QA (Integration) platform</a>
        <br />
        <a href="/ingest?ingest_type=techsupport">Click here to ingest/upload techsupport archive</a>
        <br />
        <a href="/searcher">Click here to search for logs across multiple ingested log archives</a>
    </div>
    <div class="content">
        <h3>Ingested Logs</h3>
        <div>
            <input type="checkbox" id="qa" name="job_filter" value="qa" checked onclick="onSelectFilter(this);">
            <label for="qa">QA jobs</label>

            <input type="checkbox" id="fod" name="job_filter" value="fod" onclick="onSelectFilter(this);">
            <label for="fod">Fun-on-demand jobs</label>

            <input type="checkbox" id="techsupport" name="job_filter" value="techsupport" onclick="onSelectFilter(this);">
            <label for="techsupport">Techsupport jobs</label>
        </div>
        <table class="index">
            <thead>
                <tr>
                    <th>Job ID</th>
                    <th>Ingested Time (in UTC)</th>
                    <th>Log Lines</th>
                    <th>Log Analyzer Storage</th>
                    <th>Tags</th>
                </tr>
            </thead>
            <tbody>
            {% for log in logs %}
                <tr class="log-row" data-job_name="{{log.name}}">
                    <td>
                        <div style="display: flex; align-items: center;">
                            {% if log.metadata.ingestion_status is defined %}
                                {% if log.metadata.ingestion_status == "INGESTION_IN_PROGRESS" %}
                                    <img title="Ingestion is in progress" class="status-img" src="/static/images/pacman.svg" />
                                {% elif log.metadata.ingestion_status == "FAILED" %}
                                    <img title="Ingestion failed" class="status-img" src="/static/images/fail.png" />
                                {% endif %}
                            {% endif %}
                            <a href="/log/{{log.name}}/dashboard">{{log.name}}</a>
                        </div>
                    </td>
                    <td class="fixed-font">{{log.creation_date}}</td>
                    <td class="right-align fixed-font">{{log.doc_count}}</td>
                    <td class="right-align fixed-font caps">{{log.es_size}}</td>
                    <td class="center-align tags">
                        {% if log.tags is defined and log.tags is not none %}
                            {% for tag in log.tags %}
                                <a href="?tags={{tag}}">{{tag}}</a>
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>
<script type="text/javascript">
    const logRows = Array.from(document.getElementsByClassName("log-row"));
    const filters = Array.from(document.getElementsByName("job_filter"));
    let selectedFilters = [];

    // filter to log id pattern mapping
    const filterMapping = {
        "qa": ["log_qa-"],
        "fod": ["log_fond-job", "log_fod-"],
        "techsupport": ["log_techsupport-"]
    };

    window.onload = function() {
        const checkedFilters = filters.filter(element => element.checked);
        checkedFilters.forEach(element => {
            const patterns = filterMapping[element.value];
            selectedFilters.push(...patterns);
        });
        updateJobs();
    }

    function onSelectFilter(element) {
        const patterns = filterMapping[element.value];
        if (element.checked) {
            selectedFilters.push(...patterns);
        }
        else {
            selectedFilters = selectedFilters.filter(filter => !patterns.includes(filter));
        }
        updateJobs();
    }

    function updateJobs() {
        // Loop over all the rows and hide
        // the ones which not selected
        logRows.forEach(row => {
            const job_name = row.dataset.job_name;
            if (selectedFilters.length === 0 ||
                selectedFilters.some(filter => job_name.startsWith(filter))
            ) {
                row.style.display = "";
                return;
            }
            row.style.display = "none";
        });
    }

</script>
</html>
