<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="stylesheet" type="text/css" href="/static/css/root.css">
    <title>Log Analyzer Tool</title>
</head>
<body>
    {% include 'nav_bar.html' ignore missing %}
    <div class="content">
        <a href="/ingest">Click here to ingest logs from QA dashboard</a>
    </div>
    <div class="content">
        <h3>Ingested Logs</h3>
        <table class="index">
            <thead>
                <tr>
                    <th>Job ID</th>
                    <th>Ingested Time</th>
                    <th>Log Lines</th>
                    <th>Log Analyzer Storage</th>
                </tr>
            </thead>
            <tbody>
            {% for log in logs %}
                <tr>
                    <td><a href="/log/{{log.name}}/dashboard">{{log.name}}</a></td>
                    <td class="fixed-font">{{log.creation_date}}</td>
                    <td class="right-align fixed-font">{{log.doc_count}}</td>
                    <td class="right-align fixed-font caps">{{log.es_size}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
