.sources {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}
.source {
    padding: 10px 0px;
}
.separator {
    border: 1px dashed #a2a2a2;
    margin: 0px 10px;
    font-weight: bold;
}
.log_entries {
    display: block;
    font-family: monospace;
}
td {
    border-collapse: collapse;
    padding-right: 5px
}