{% if cores|length > 1 %}
  {% set global = true %}
  {% set title = "Missmap (all cores)" %}
{% else %}
  {% set global = false %}
  {% set title = "Missmap (core " ~ cores[0] ~ ")"  %}
{% endif %}

<html>
  <head>
    <title>{{title}}</title>
    <style>
      {{ style }}
    </style>
  </head>
  
  <body>
    <!-- Breadcrumbs, naive implementation -->
    <nav class="breadcrumb">
      <ul>
        {% if global %}
        <li>All cores</li>
        {% else %}
        <li><a href="missmap.html">All cores</a></li>
        <li>Core {{cores[0]}}</li>
        {% endif %}
      </ul>
    </nav>

    <h1>{{title}}</h1>
    <i>{{ date }}</i>

    {% if global %}
    <p>Per-core reports:</p>
    <table>
      <tr>
      {% for core in cores %}
        {% set core_count = 6 %}
        {% if loop.index0 % core_count == 0 and not loop.first %}
      </tr>
      <tr>
        {% endif %}
        <td><a href="missmap_{{core}}.html">{{core}}</a></td>
      {% endfor %}
      </tr>
    </table>
    {% endif %}

    <p>Contents:</p>
    {% for (name, _) in sections %}
    <a href="#{{name}}">{{name}}</a><br/>
    {% endfor %}
    
    {% for (name, items) in sections %}
    <a name="{{name}}"><h2>{{name}}</h2></a>
    <p>rows: {{ items|length }}</p>
    
    <table>
      <tr>
	<th>Count</th>
	<th>Address</th>
	<th>Info</th>
      </tr>

      {% for item in items %}
      <tr>
	<td>{{ item[0] }}</td>
	<td>{{ item[1] }}</td>
	<td><div align="left"><pre>{{ item[2] }}</pre></div></td>
      </tr>
      {% endfor %}
      
    </table>
    {% endfor %}
    
  </body>
</html>
