[Unit]
Description=Gunicorn instance to serve File Server
After=network.target

[Service]
User=localadmin
Group=www-data
WorkingDirectory=/home/localadmin/Fun/FunTools/log_tools/analysis/file_server
Environment="PATH=/home/localadmin/Fun/FunTools/log_tools/analysis/.venv/bin"
Environment="PYTHONPATH=/home/localadmin/Fun/FunTools/log_tools/analysis"
ExecStart=/home/localadmin/Fun/FunTools/log_tools/analysis/.venv/bin/gunicorn --workers 3 --bind unix:fileserver.sock -m 007 wsgi:app

Restart=on-failure
RestartPreventExitStatus=1

[Install]
WantedBy=multi-user.target