[Unit]
Description=Gunicorn instance to serve Log Analyzer
After=network.target elasticsearch.service fileserver.service
Requires=elasticsearch.service fileserver.service

[Service]
User=localadmin
Group=www-data
WorkingDirectory=/home/localadmin/Fun/FunTools/log_tools/analysis/view
Environment="PATH=/home/localadmin/Fun/FunTools/log_tools/analysis/.venv/bin"
Environment="PYTHONPATH=/home/localadmin/Fun/FunTools/log_tools/analysis"
ExecStart=/home/localadmin/Fun/FunTools/log_tools/analysis/.venv/bin/gunicorn --workers 3 --bind unix:loganalyzer.sock -m 007 wsgi:app

Restart=on-failure
RestartPreventExitStatus=1

[Install]
WantedBy=multi-user.target