[Unit]
Description=Start Heartbeat Server
Wants=getty.target
After=network-online.target
Before=getty.target

[Service]
ExecStart=/bin/systemctl start come_heartbeat_server.socket
KillMode=process

[Install]
WantedBy=multi-user.target
