[Unit]
Description=COMe Heartbeat Server Socket
PartOf=come_heartbeat_server.service

[Socket]
ListenStream = 192.168.127.4:6671
Accept = yes

[Install]
WantedBy=socket.target
