[Unit]
Description=FS1600-service
Wants=network-online.target
After=network.target
Before=network-online.target

[Service]
ExecStartPre=/opt/fungible/etc/EntryHousekeeping.sh
ExecStart=/opt/fungible/etc/BootupCoStPlane.sh
KillMode=process
StandardOutput=file:/var/log/COMe-boot-up.log
StandardError=file:/var/log/COMe-boot-up.log

[Install]
WantedBy=multi-user.target
